:root {
	--off-white: #f1f1f1;
	--pale-lavender: #cbbdcf;
	--dark-liver: #474554;
	--silver-pink: #d7b7b5;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

p {
	font-family: "Jost", sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0 0 0.1rem 0 !important;
}

/* body {
	background-color: var(--off-white) !important;
} */

#about {
	background-color: white !important;
	z-index: 0;
}

#projects {
	background-color: var(--pale-lavender) !important;
	z-index: 1;
}

#skills {
	background-color: var(--silver-pink) !important;
	z-index: 2;
}

.banner {
	width: 100%;
	height: 100vh;
	background-color: var(--dark-liver);
	z-index: 10;
}

.banner-text {
	color: var(--pale-lavender);
	font-size: 7rem;
	font-family: "Dream Orphans", Arial, sans-serif;
	text-shadow: -2px 2px 0px white;
}

.section-title {
	bottom: -3%;
	left: 12px;
	height: 25vh;
	z-index: -1;
}

#projects-title {
	bottom: 1%;
}

.spacer {
	height: 5vh;
}

.title-spacer {
	height: 25vh;
}

@media (max-width: 767px) {
	.spacer {
		height: 0;
	}
}

.frame {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.path1 {
	top: -20%;
	left: -5%;
	width: 220%;
}

/* TEXT SECTIONS */

.text-container {
	border: 1px solid #262626;
}

/* PROJECT CARD */

.project-card {
	width: 100%;
	height: fit-content;
	background-color: white;
	border-radius: 2rem 2rem 2rem 2rem;
}
